body{
    margin:0;
    padding:0;
    font-family: 'Fira Sans', sans-serif;
}



.frame1{
    width:100vw;
    height:100vh;
    z-index: 2;
}

.page-header{
    display:flex;
    height:10vh;
    padding-left:2vw;
    padding-right:3vw;
    justify-content: space-between;
    align-items:center;
}

.header-logo{
    display:flex;
    align-items: center;
}

.header-logo img{
    height:10vh;
}

.header-menu{
    display:flex;
    width: 45vw;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   font-size: 18px;
}

.menu-text{
    text-decoration: none;
    color:black;
}

.menu-phone{
    padding:15px;
    font-weight:bold;
}

.menu-phone a:hover{
    cursor:pointer;
    color:rgba(247, 35, 35, 0.781);
    transition: 0.2s ease-in-out;
}

.city-change{
    font-family: 'Fira Sans', sans-serif;
    font-size:18px;
}

.city-change-preset:hover{
    cursor:pointer;
    color:rgba(247, 35, 35, 0.781);
    transition: 0.2s ease-in-out;
}

.maps-icon{
    height:18px;
    width:15px;
    margin-right:5px;
}

.city-change__choose{
    display: flex;
    align-items: center;
}

.choose-city{
    position: fixed;
    top:20vh;
    left:40vw;
    border:1px solid lightgray;
    border-radius: 20px;
    background:white;
    height:50vh;
    width:20vw;
    display:grid;
    gap:1vw;
    grid-template-columns: 3.2vw 3.2vw 3.2vw 3.2vw 3.2vw;
    z-index:3;
}

.choose-city__close:hover img{
    cursor: pointer;
    transform: rotate(90deg);
    transition: 0.3s ease;
}

.choose-city__close {
    height:48px;
    width:48px;
    grid-column: 5;
}

.city-change__mask{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.623);
    z-index: 0;
}



.header-nav{
    position: sticky;
    height: 5vh;
    background: black;
    top:0;
    z-index: 1;
}

.slider{
    border:1px solid black;
    padding-top:130px;
    padding-bottom:130px;
    font-size: 20vmax;
    text-align:center;
}

.hidden{
    display: none;
}

.shown{
    display: block;
}